version: '3'

services: 
  db: 
    image: postgres:14.3
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_PASSWORD: clave
      POSTGRES_DB: nombre
    container_name: dev-estudio
    volumes:
      - ./postgres:/var/lib/postgresql/data
